.system-status {
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
}

.system-status:hover {
    transform: translateY(-5px);
}

.system-status h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.system-status h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.system-status h3 {
    font-size: 1.2em;
    margin-top: 20px;
}

.system-status p {
    font-size: 1em;
    margin: 5px 0;
}

.system-status p span {
    font-weight: bold;
}
.warning {
    background-color: rgba(255, 0, 0, 0.1);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid red;
    border-radius: 5px;
}



.warning-card {
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 15px;
}

.flashing {
    animation: flashing 1s infinite;
}

@keyframes flashing {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

